* {
	margin: 0px;
	padding: 0px;
}

@keyframes up {
	from {
		padding-top: 1em;
		filter: none;
	}
	to {
		padding-top: 0em;
		filter: invert(100%);
	}
}

@keyframes spin {
	from { transform: rotate3d(0, 1, 0, 0deg); }
	to { transform: rotate3d(0, 1, 0, 360deg); }
}

@keyframes spin2 {
	from { transform: rotate3d(1, 0, 0, 0deg); }
	to { transform: rotate3d(1, 0, 0, 360deg); }
}

@keyframes blink {
	from {
		background: rgba(0,0,0,1);
	}
	to {
		background: rgba(0,0,0,0);
	}
}

@keyframes link_color {
	from {
		color: inherit;
	}
	to {
		color: rgba(155,104,176,1);
	}
}

.blink {
	animation-name: blink;
	animation-duration: 0.25s;
	animation-fill-mode: both;
}

table {
	background: rgb(155,104,176);
	background: linear-gradient(
		180deg,
		rgba(155,104,176,1) 0%,
		rgba(149,67,169,1) 35%,
		rgba(250,179,255,1) 100%
	);
	top-margin: 0px;
	padding-top: 0px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	width: min(
		50em,
		100%,
	);
}

.top_link {
	width: 5em;
	height: 5em;
	text-align: center;
	veritcal-align: middle;
	font-size: 4em;
	color: black;
	text-decoration: none;
	font-family: "Arial";
}

td {
	height: 6em;
	padding-left: min(5em, 5vw);
	padding-right: min(5em, 5vw);
	padding-top: 1em;
}

td:hover {
	animation-name: up;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

td:hover img {
	animation-name: spin;
	animation-duration: 0.75s;
	animation-fill-mode: both;
}

td:hover div {
	animation-name: spin;
	animation-duration: 0.75s;
	animation-fill-mode: both;
}

.link_image {
	height: 5em;
}

body {
	font-family: "Helvetica";
	height: 100%;
}

h2 {
	font-size: 3em;
}

li {
	font-size: 1.5em;
}

.name:hover {
	animation-name: link_color;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}
.git:hover {
	animation-name: link_color;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
