* {
	margin: 0px;
	padding: 0px;
}

table {
	background: rgb(155,104,176);
	/* background: linear-gradient(180deg, rgba(155,104,176,1) 0%, rgba(129,47,159,1) 35%, rgba(250,179,255,1) 100%); */
	background: linear-gradient(180deg, rgba(155,104,176,1) 0%, rgba(149,67,169,1) 35%, rgba(250,179,255,1) 100%);
	top-margin: 0px;
	padding-top: 0px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	width: 50em;
}

.top_link {
	width: 5em;
	height: 5em;
	text-align: center;
	veritcal-align: middle;
	font-size: 4em;
	color: black;
	text-decoration: none;
	font-family: "Arial";
}

td {
	padding-left: 5em;
	padding-right: 5em;
}

.link_image {
	height: 5em;
}

body {
	font-family: "Helvetica";
	height: 100%;
}

h2 {
	font-size: 3em;
}

li {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
